$container-width: 1140px;
$menu-min-height: 100px;
$home__btn_down-color: 1px solid #fff;
$time-animation-text: .3s;
$contact-width: 45%;
$time-visible-mb-menu: .2s;
@import 'fonts';
//Размер кнопки
$home__btn_down-block-size: 50px;
@mixin home__btn_down-style($block-size) {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  box-sizing: border-box;
  width: $block-size;
  height: $block-size;
}

@mixin title-block-style {
  text-align: center;
  .block-title {
    display: block;
    font-family: "playfairdisplay", sans-serif;
    font-weight: 700;
    font-size: 2.6rem;
    margin-top: 0;
    margin-bottom: 30px;
  }
  .block-annotation {
    font-family: "worksans", sans-serif;
    line-height: 1.65;
    font-size: 1rem;
    letter-spacing: .004em;
    font-weight: 400;
    margin: 0 auto 30px;
    width: 720px;
    opacity: .6;
  }
}

@mixin btn-style($width,$height) {
  display: flex;
  align-items: center;
  justify-content: center;
  width: $width;
  height: $height;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  background-color: #252525;
  font-family: "worksans", sans-serif;
  font-size: .96rem;
  font-weight: 500;
  transition: background-color .3s;
}

@keyframes burger {
  0% {
    margin: 5px 0 0 0;
  }
  50% {
    margin: 5px 4px 0 4px;
  }
  100% {
    margin: 5px 0 0 0;
  }
}

body {
  font-family: "worksans", sans-serif;
  margin: 0;
  position: relative;
}

.menu__control {
  display: none;
}

.header__bg-mobile {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: -2;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100vh;
  background: url(../images/bg-menu.jpg) no-repeat;
  background-size: cover;
  opacity: 0;
  transition: opacity .5s .1s, z-index .6s;
}

.menu__control:checked + .header__bg-mobile {
  z-index: 30;
  opacity: 1;
}

.box-under-menu {
  min-height: $menu-min-height;
}

.mb-menu {
  padding: 0;
  list-style-type: none;
  color: #ffffff;
  font-family: "playfairdisplay", sans-serif;
  font-weight: 700;
  font-size: 1.7rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.mobile-menu-item {
  margin-bottom: 20px;
  opacity: 0;
}

.mb-menu .mobile-menu-item:nth-child(1) {
  transition: opacity .1s $time-visible-mb-menu;
}

.mb-menu .mobile-menu-item:nth-child(2) {
  transition: opacity .1s $time-visible-mb-menu+.1s;
}

.mb-menu .mobile-menu-item:nth-child(3) {
  transition: opacity .1s $time-visible-mb-menu+.2s;
}

.mb-menu .mobile-menu-item:nth-child(4) {
  transition: opacity .1s $time-visible-mb-menu+.3s;
}

.menu__control:checked ~ .header__bg-mobile .mobile-menu-item {
  opacity: 1;
}

.mobile-menu-item-link {
  text-decoration: none;
  color: #d8d8d8;
  font-family: "playfairdisplay", sans-serif;
  font-weight: 700;
  font-size: 1.7rem;
}

.mobile-menu-item-link:hover {
  color: #ffffff;
}

.mb__social__link {
  display: flex;
  text-decoration: none;
  transition: opacity .5s;
  color: #d8d8d8;
  fill: #d8d8d8;
  font-size: 1.13rem;
}

.mb__social__link:hover {
  color: #ffffff;
}

.box-social {
  min-height: $menu-min-height;
}

.container {
  width: $container-width;
  margin: 0 auto;
}

.header {
  min-height: $menu-min-height;
  width: 100%;
  position: fixed;
  z-index: 50;
  transition: background-color .3s;
  display: none;
}

.hm-navigate {
  display: none;
}

.hd-navigate {
  display: block;
}

.header__container {
  display: flex;
  min-height: $menu-min-height;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  display: block;
}

.header__logo_icon {
  fill: #fff;
}

/*Mobile version menu*/
.menu-mobile {
  display: block;
  position: relative;
  width: 40px;
  height: 40px;
  padding: 7px;
  box-sizing: border-box;
  cursor: pointer;
}

.menu-mobile:before,
.menu-mobile:after {
  content: '';
  position: absolute;
  background-color: #fff;
  width: 20px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 2px;
  transform: rotate(45deg);
  opacity: 0;
  transition: opacity .1s, width .1s;
}

.menu-mobile:before {
  transform: rotate(45deg);
}

.menu-mobile:after {
  transform: rotate(-45deg);
}

.line {
  border: 1px solid #000;
  background-color: #000;
  display: block;
  margin-top: 5px;
  height: 1px;
}

.menu-mobile:hover .line:nth-child(1) {
  animation: ease .4s burger;
  animation-direction: alternate;
}

.menu-mobile:hover .line:nth-child(2) {
  animation: ease .4s .15s burger;
  animation-direction: alternate;
}

.menu-mobile:hover .line:nth-child(3) {
  animation: ease .4s .3s burger;
  animation-direction: alternate;
}

.menu__control:checked ~ #hm-navigate .menu-mobile .line {
  display: none;
}

.menu__control:checked ~ #hm-navigate .menu-mobile:before,
.menu__control:checked ~ #hm-navigate .menu-mobile:after {
  opacity: 1;
  width: 25px;
}

.header__mobile_icon {
  fill: #fff;
}

/*Descktop version menu*/
.logo__text {
  display: none;
}

.header__navigate {
  min-width: 380px;
  display: flex;
  justify-content: space-between;
}

.header__navigate__item {
  color: #bfbfbf;
  text-transform: uppercase;
  text-decoration: none;
  font-size: .82rem;
  padding: 6px 14.6px;
  transition: color .3s;
  font-weight: 500;
}

.header__navigate__item:hover {
  color: #fff;
}

.nav-item-black:hover {
  color: #000;
}

.home-section {
  padding-top: 200px;
  min-height: 800px;
  height: 100vh;
  position: relative;
  z-index: 0;
  box-sizing: border-box;
}

.home-section__home-bg {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: url("../images/home-7.jpg") no-repeat 50% 58%;
  background-size: cover;
  z-index: -1;
  filter: brightness(40%);
}

.home__subtitle {
  margin-top: 0;
  color: #fff;
  font-size: .85rem;
  letter-spacing: .2em;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.home__title {
  margin-top: 0;
  color: #fff;
  text-align: center;
  font-family: "playfairdisplay", sans-serif;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.18;
}

.home__title-decorate {
  display: block;
  font-weight: 400;
  font-style: italic;
}

.home__btn {
  @include btn-style(200px, 53px);
  margin: 50px auto 0;
}

.home__btn:hover {
  background-color: #444;
}

.home__btn_down {
  @include home__btn_down-style($home__btn_down-block-size);
  bottom: 65px;
  border: $home__btn_down-color;
  border-radius: 50%;
  opacity: .6;
  transition: opacity .5s;
}

.home__btn_down:after {
  @include home__btn_down-style($home__btn_down-block-size/6.25);
  content: '';
  bottom: 0;
  top: 0;
  transform: rotate(45deg);
  border-right: $home__btn_down-color;
  border-bottom: $home__btn_down-color;
}

.home__btn_down:hover {
  opacity: 1;
}

.aboute {
  padding: 90px 0 90px;
  box-sizing: border-box;
  min-height: 150px;
}

.aboute__container {
  @include title-block-style();
}

.statistics {
  min-height: 240px;
  background: url("../images/bg-pattern.jpg") no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}

.statistics__container {
  display: flex;
  justify-content: space-between;
}

.statistics__stat-position {
  min-width: 255px;
}

.stat-position__label {
  display: block;
  float: left;
  margin-right: 20px;
}

.stat-position__number {
  display: block;
  float: left;
  color: #fff;
  font-family: 'worksans', sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  width: 65%;
}

.stat-position__text {
  display: block;
  float: left;
  color: #fff;
  font-family: 'worksans', sans-serif;
  font-size: .97rem;
  font-weight: 500;
  text-transform: uppercase;
}

.project {
  min-height: 255px;
  padding: 90px 0 90px;
  box-sizing: border-box;
}

.project__container {
  @include title-block-style();
}

.project__best {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 370px);
}

.project__best__position {
  position: relative;
}

.project__best__position__bg {
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: filter $time-animation-text;
}

.project__best__position:hover .project__best__position__bg {
  filter: brightness(40%);
}

.project-1 {
  background: url('../images/portfolio-7-sm.jpg') no-repeat 50%;
  background-size: cover;
}

.project-2 {
  background: url('../images/portfolio-4-sm.jpg') no-repeat 50%;
  background-size: cover;
}

.project-3 {
  background: url('../images/portfolio-5-sm.jpg') no-repeat 50%;
  background-size: cover;
}

.project-4 {
  background: url('../images/portfolio-9-sm.jpg') no-repeat 50%;
  background-size: cover;
}

.project-5 {
  background: url('../images/portfolio-3-sm.jpg') no-repeat 50%;
  background-size: cover;
}

.project-6 {
  background: url('../images/portfolio-8-sm.jpg') no-repeat 50%;
  background-size: cover;
}

.project-7 {
  background: url('../images/portfolio-2-sm.jpg') no-repeat 50%;
  background-size: cover;
}

.project-8 {
  background: url('../images/portfolio-6-sm.jpg') no-repeat 50%;
  background-size: cover;
}

.project-9 {
  background: url('../images/portfolio-12-sm.jpg') no-repeat 50%;
  background-size: cover;
}

.project__best__position__link {
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #fff;
}

.project__best__position__title {
  display: block;
  margin-bottom: 20px;
  font-family: 'playfairdisplay', sans-serif;
  font-size: 1.69rem;
  font-style: normal;
  font-weight: 700;
  opacity: 0;
  transform: translateY(15px);
  transition: transform .4s .2s, opacity .4s .2s;
}

.project__best__position__category {
  display: block;
  font-family: 'worksans', sans-serif;
  font-size: .95rem;
  font-weight: 500;
  text-transform: uppercase;
  opacity: 0;
  transform: translateY(15px);
  transition: transform .4s .3s, opacity .4s .3s;
}

.project__best__position:hover .project__best__position__title,
.project__best__position:hover .project__best__position__category {
  opacity: 1;
  transform: translateY(0px);
}

.contact {
  background-color: #F6F6F6;
  min-height: 250px;
  box-sizing: border-box;
  padding: 90px 0 90px;
}

.contact__container {
  display: flex;
  justify-content: center;
}

.contact__info {
  @include title-block-style();
  text-align: left;
  box-sizing: border-box;
  width: $contact-width;
  padding: 20px;

  .block-annotation {
    width: 95%;
    margin-left: 0;
    font-size: 1rem;
  }
}

.contact__into__contant {
  width: 95%;

  .contact__info__title {
    margin-right: 10px;
    font-weight: 700;
  }
}

.contact__message {
  box-sizing: border-box;
  padding: 20px;
  width: 100%-$contact-width;
}

.input_name {
  float: left;
}

.input_email {
  float: right;
}

.input_name,
.input_email {
  width: 47%;
}

.input_title,
.input_comments {
  width: 100%;
}

.input_name,
.input_email,
.input_title {
  box-sizing: border-box;
  margin-bottom: 30px;
  padding: 15px;
  border: none;
  outline: none;
}

.input_comments {
  box-sizing: border-box;
  margin-bottom: 30px;
  padding: 15px;
  resize: vertical;
  border: none;
  outline: none;
}

.input_name[placeholder],
.input_email[placeholder],
.input_title[placeholder],
.input_comments[placeholder] {
  font-size: 0.9rem;
}

.input_btn {
  @include btn-style(162px, 53px);
  border: none;
  background-color: #252525;
  transition: all .5s;
}

.input_btn:hover {
  cursor: pointer;
  background-color: #444444;
}

.footer {
  box-sizing: border-box;
  background-color: #EBEBEB;
  min-height: 155px;
  padding: 50px 0 50px;
}

.footer__social {
  width: 120px;
  margin: 0 auto;
  height: 25px;
  display: flex;
  justify-content: space-between;
}

.footer__social__link {
  display: flex;
  opacity: .4;
  text-decoration: none;
  transition: opacity .5s;
  color: #000;
  font-size: 1.13rem;
}

.footer__social__link:hover {
  opacity: 1;
}

.footer__text {
  text-align: center;
  margin-bottom: 0;
  font-family: "worksans", sans-serif;
  font-size: .95rem;
  letter-spacing: .004em;
  opacity: .5;
}

.hidden {
  display: none;
}

@media (max-width: 1199.98px) {
  .container {
    width: 960px;
  }
  .statistics__stat-position {
    min-width: 210px;
  }
  .project__best {
    grid-template-rows: repeat(3, 300px);
  }
}

@media (max-width: 991.98px) {
  .container {
    width: 720px;
  }
  .hd-navigate {
    display: none;
  }
  .hm-navigate {
    display: block;
  }
  .statistics {
    padding: 80px 0;
    box-sizing: border-box;
  }
  .statistics__container {
    flex-wrap: wrap;
  }
  .statistics__stat-position {
    min-width: 330px;
    margin-bottom: 20px;
  }
  .project__best {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 370px);
  }
  .contact__container {
    flex-direction: column;
  }
  .contact__info {
    width: 100%;
  }
  .contact__message {
    width: 100%;
  }
}

@media (max-width: 767.98px) {
  .container {
    width: 540px;
  }
  .aboute__container .block-annotation {
    width: 100%;
  }
  .block-annotation {
    max-width: 540px;
  }
  .statistics__stat-position {
    min-width: 280px;
  }
  .project__best {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(9, 508px);
  }
  .input_name,
  .input_email {
    width: 100%;
  }
}

@media (max-width: 575.98px) {
  .container {
    width: 98%;
    box-sizing: border-box;
  }
  .block-annotation {
    max-width: 98%;
  }

  .block-annotation {
    width: 98%;
  }
  .project__best {
    grid-template-rows: repeat(9, 90vw);
  }
}